.App {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  background-color: aqua;
}
body {
  background-color: red;
}
.navlink {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  }
  
h1{
  color: blue;
}
h2{
  color: green;
}
.Smurf{
  border: 3px solid blue;
  margin: .5rem 2rem;
}
input {
  width: 99%;
  margin: .5rem 0; 
  font-size: 1.5rem;
  border-radius: 5px;
}
button{
  margin-bottom: .5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
